<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>ACTIVATIONS</title>
        <link rel="stylesheet" href="/css/activations.css">
    </head>

    <body>
        <ul id="navbar"></ul>

        <h1>ACTIVATIONS:</h1>
        <table id="activations">
            <tr>
                <th>MAIL</th>
                <th>PHONE NUMBER</th>
                <th>MESSAGE</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>AUTHOR</th>
                <th>ACCEPT</th>
                <th>REJECT</th>
            </tr>

        </table>

        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/activations.js"></script>
    </body>
</html>