<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>UPDATE</title>
        <link rel="stylesheet" href="/css/edit_books.css">
        <link rel="stylesheet" href="/css/dataform.css">
    </head>
    <body>
        <div id="navbar"></div>

        <h1>UPDATE ACCOUNT</h1>

        <div id="edit_authors"></div>

        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/edit_authors.js"></script>
    </body>
</html>