<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>BOOK</title>
        <link rel="stylesheet" href="/css/item.css">
    </head>
    <body>
        <input type="hidden" id="item_id" th:value="${item_id}"/>



        <script type="text/javascript" src="/js/item.js"></script>
    </body>
</html>


