<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>Log In</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div id="navbar"></div>

        <div id="loginform">
            <input type="text"     id="txt_username" placeholder="username / email"/>
            <input type="password" id="txt_password" placeholder="password"/>
            <button id="btn_login">LOG IN</button>
            <p id="loginform_status"></p>
        </div>

        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/login.js"></script>
    </body>
</html>