<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>MANAGE</title>
        <link rel="stylesheet" href="/css/manage.css">
    </head>

    <body>
        <ul id="navbar"></ul>

        <h1>MANAGE:</h1>
        <a class="adminBtn" href="/activations">ACCOUNT ACTIVATIONS</a>
        <a class="adminBtn" href="/add/authors">ADD AUTHORS</a>
        <a class="adminBtn" href="/add/books">ADD BOOKS</a>
        <a class="adminBtn" href="/add/genres">ADD GENRES</a>
        <a class="adminBtn" href="/edit/books">EDIT BOOKS</a>
        <a class="adminBtn" href="/edit/authors">EDIT AUTHORS</a>

        <script type="text/javascript" src="/js/navbar.js"></script>
    </body>
</html>